@media screen and (max-width:1005px) {
    .navbar{
        position: relative;
    }        

    .menu{
        display: none;
    }

    .logo {
        margin: 0;
        text-align: center;
        align-items: center;
    }

    .header{
        padding-top: 50px;
    }

    .headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: center;
    }

    .img-headline{
        flex: 100%;
        margin: 5%;
        text-align: center;
       
    }

    .lain-fixa{
        display: none;
    }

    .card{
        width: 100%;
    }

    .card2{
        width: 100%;
    }

    .card3{
        width: 100%;
    }

    section{
        margin-top: 700px;
    }

}